

<div class="grid grid-cols-12 gap-4">
    <!-- Left Sidebar -->
    <div class="col-span-2 ">
      <!-- Sidebar content goes here -->
   
    </div>
  
    <!-- Middle Content -->
    <div class="col-span-8 p-4">
      <!-- Middle content goes here -->
      
        <div class="mb-5 text-4xl">
            About
        </div>

        <div>
            <ul class="list-disc pl-4">
                <li class="mb-2">
                    This site was developed to evaluate the <a href="https://cloud.google.com/free" target="_blank">Google Cloud Platform's free-tier services</a>. The architecture diagram below outlines
                    how the GCP services were used to create the application. 
                </li>
                <li class="mb-2">
                    The underlying API is credited to the <a href="https://www.nps.gov/subjects/developer/api-documentation.htm" target="_blank">National Park Service's Developer Resources.</a>
                   </li>
                <li class="mb-2">
                    UI features will be added over time but for now I just wanted to stand-up a basic application following the diagram below. Code will be posted on my <a href="https://github.com/dtabaka/angular-nps-api-demo" target="_blank">GitHub</a>.
                </li>
              </ul>
        </div>
 
        <div class="pt-10">
            <img class="shadow-xl" src="../../../assets/images/gcp-architecture.png" width="90%"  >
        </div>

    </div>
  
    <!-- Right Sidebar -->
    <div class="col-span-2 ">
      <!-- Sidebar content goes here -->
       
    </div>
  </div>

<div class="flex justify-center flex-col">
 
      
 
</div>
