.header {
    display: flex;
    justify-content: flex-start;
    font-size: 20pt;
}

.header div {
    // padding:20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
}

nav {
    padding:20px;
}