<div id="app">
  <header class="effect1">

    <div class="header">
      <div><img src="../assets/images/nps_logo.jpg" ></div>
      <div><h2>National Park Service API (Unofficial) Demo</h2></div>
    </div>
    
    <nav>
      <ul class="horizontal-menu">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/parks">Parks</a></li>
      </ul>
    </nav>

  </header>
  <main> 
    <router-outlet></router-outlet>
  </main>
  <footer>Footer</footer>
</div>

