@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    width: 750%; /* You can adjust the width as needed */
    margin: 0 auto; /* Horizontal centering */
  }

.example-card {
    max-width: 275px;
  }
  
.example-header-image {
    background-image: url('/assets/images/nps_logo.jpg');
    background-size: cover;
}